
* {
  font-family: 'Exo 2', sans-serif;
}

h1 {
  font-size: 60px;
  color: white;
  height: 10vh;
  text-align: center;
}

body {
  background-image: url('../assets/conrad-ziebland-123322.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.main-pallete {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main-color {
  margin-top: 5px;
  border: 2px solid #32404B;
  cursor: pointer;
}

.main-color:hover {
  background-color: blue;
  border: 2px solid white;
}

.button-div {
  display: flex;
  justify-content: center;
}

.generate-button {
  height: 50px;
  width: 200px;
  font-size: 18px;
  border: 2px solid #32404B;
  box-shadow: 5px 10px #32404B;
  cursor: pointer;
}

.generate-button:hover{
  background-color: #44EE16;
}

.color {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 350px;
  width: 200px;
  margin: 2px;
}

.unlocked-image {
  width: 40px;
  height: 40px;
  background-image: url('../assets/unlock.svg');
  background-size: contain;
  cursor: pointer;
}

.locked {
  width: 40px;
  height: 40px;
  background-image: url('../assets/lock.svg.png');
  background-size: contain;
  cursor: pointer;
}

.code1,
.code2,
.code3,
.code4,
.code5 {
  font-size: 20px;
}

.save-pallete-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.save-pallete-title {
  color: white;
}

.name-input {
  width: 200px;
  margin: -15px 0px 2px 0px;
}

.save-button {
  height: 25px;
  width: 100px;
  border: 2px solid #32404B;
  box-shadow: 2px 4px #32404B;
  cursor: pointer;
}

.save-button:hover {
  background-color: #44EE16;
}
