
* {
  font-family: 'Exo 2', sans-serif;
}

h1 {
  margin: -40px 0px 100px 0px;
  font-size: 60px;
  color: white;
  height: 10vh;
  text-align: center;
}

body {
  background-color: black;
}

h3:hover,
.unlocked-image:hover{
  cursor: pointer;
}


.main-pallete {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main-color {
  margin-top: 5px;
  cursor: pointer;
  width: 19%;
}


.main-color:hover {
  opacity: 0.5;
}

.button-div {
  display: flex;
  justify-content: center;
}

.generate-button {
  margin-top: 20px;
  height: 50px;
  width: 200px;
  font-size: 18px;
  cursor: pointer;
}

.generate-button:hover{
  background-color: #44EE16;
}

.color {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 500px;
}

.unlocked-image {
  width: 40px;
  height: 40px;
  background-image: url('../assets/unlock.svg');
  background-size: contain;
  cursor: pointer;
}

.locked {
  width: 40px;
  height: 40px;
  background-image: url('../assets/lock.svg.png');
  background-size: contain;
  cursor: pointer;
}

.code1,
.code2,
.code3,
.code4,
.code5 {
  font-size: 20px;
}

.save-pallete-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.save-project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.save-pallete-title {
  color: white;
}

.name-input {
  width: 200px;
  margin: -15px 0px 2px 0px;
}

.save-button {
  height: 25px;
  width: 100px;
  border: 2px solid #32404B;
  box-shadow: 2px 4px #32404B;
  cursor: pointer;
}

.save-button:hover {
  background-color: #44EE16;
  cursor: pointer;
}

.save-button-palette,
.save-button-project {
  background-color: #44EE16;
  font-size: 18px;
}

.save-button-palette:hover,
.save-button-project:hover {
  background-color: #62FC4D;
  cursor: pointer;
}

.new-project,
.name-input {
  font-size: 14px;
}

.projects-palettes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
}

.project-card {
  border: 1px solid white;
}

.palette-card {
  width: 50%;
  display: flex;
  flex-direction:column;
  margin: 12px;
  background-image: url('../assets/michal-grosicki.jpg');
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.prj-name {
  border-bottom: 1px solid black;
  font-size: 35px;
}

.pal-name {
  font-size: 26px;
}

.cardcolor
 {
  height: 30px;
}

.cardcolor:hover{
  opacity: .6;
}

.trash-can {
  align-self: flex-end;
  height: 30px;
  width: 30px;
  margin-left: 10px;
}

.trash-can:hover{
  background-color: red;
  box-shadow: 5px 5px 5px 5px;
}

.logo-image {
  height: 150px;
  width: 150px;
}

.save-project-title {
  color: white;
}

.delete-project-x {
  margin-left: 20px;
  height: 30px;
  width: 30px;
}

.delete-project-x:hover {
  background-color: red;
  box-shadow: 5px 5px 5px 5px;
}

.parent-palette-name {
  width: 80%;
}

@media screen and (max-width: 880px) {
    .logo-image{
      display: none;
    }

    h1 {
      margin-top: auto;
    }

    .main-pallete {
      display: flex;
    }

    .main-color {
      width: 90%;
    }

}
