
* {
  font-family: 'Exo 2', sans-serif;
}

h1 {
  font-size: 60px;

  color: white;
  height: 10vh;
  text-align: center;
}

body {
  background-image: url('../assets/conrad-ziebland-123322.jpg');
  background-repeat: no-repeat;

  background-size: cover;
}

main {
  height: 90vh;
}

.project-pallete {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
}

.project-color {
  border: 2px solid black;
  width: 100px;
  height: 100px;
}

.main-pallete {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
}

.main-color {
  border: 2px solid black;
}


#color1 {
  background-color: blue;
}

#color2 {
  background-color: green;
}

#color3 {
  background-color: red;
}

#color4 {
  background-color: yellow;
}

#color5 {
  background-color: purple;
}

.color {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
}


.unlocked-image {
  width: 40px;
  height: 40px;
  background-image: url('../assets/unlock.svg');
  background-size: contain;
  cursor: pointer;
}

.unlocked-image:hover {
  background-color: white;
  border-radius: 10px;
}

.hex-code {
  color: white;
  font-size: 20px;
}
